node_modules
*.pnp
*.pnp.js

client/public/icon/*.*
!client/public/icon/favicon.ico
!client/public/icon/logo192.png
client/public/avatar/*.*
!client/public/avatar/avatar.jpg

*/build

*.snap
*nodemon.json
jest.config.js

*.log
*.error

npm-debug.log*