* {
  box-sizing: border-box;
}

body {
  background-color: #264653;
  color: whitesmoke;

  font: {
    size: 18px;
    family: "TTNorms", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
}

a {
  display: block;
  color: inherit;
  text-decoration: inherit;
}

button {
  display: block;
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  background: inherit;
  border: none;
  margin: 0;
  padding: 0;
}