* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #242F40;

  font: {
    size: 18px;
    family: "TTNorms", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
}

a,
button,
input {

  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}

a {
  display: block;
  color: inherit;
  text-decoration: inherit;
}

button {
  display: block;
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  background: inherit;
  border: none;
  margin: 0;
  padding: 0;
}

input {
  width: 100%;
  border: none;
}


.body-wrapper {
  margin: 0 auto;
  max-width: 1225px;
  padding: 15px 55px;
}